# Visualizing the history of Nobel prize winners

In [1]:
# Loading in required libraries
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
nobel_df = pd.read_csv('./datasets/nobel.csv')
nobel_df

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2023,Chemistry,The Nobel Prize in Chemistry 2023,"""for the discovery and synthesis of quantum dots""",1/3,1030,Individual,Louis Brus,1943-00-00,"Cleveland, OH",United States of America,Male,Columbia University,"New York, NY",United States of America,NaN,NaN,NaN
996,2023,Chemistry,The Nobel Prize in Chemistry 2023,"""for the discovery and synthesis of quantum dots""",1/3,1031,Individual,Aleksey Yekimov,1945-00-00,NaN,USSR (now Russia),Male,Nanocrystals Technology Inc.,"New York, NY",United States of America,NaN,NaN,NaN
997,2023,Literature,The Nobel Prize in Literature 2023,"""for his innovative plays and prose which give...",1/1,1032,Individual,Jon Fosse,1959-09-29,Haugesund,Norway,Male,NaN,NaN,NaN,NaN,NaN,NaN
998,2023,Peace,The Nobel Peace Prize 2023,"""for her fight against the oppression of women...",1/1,1033,Individual,Narges Mohammadi,1972-04-21,Zanjan,Iran,Female,NaN,NaN,NaN,NaN,NaN,NaN
999,2023,Economics,The Sveriges Riksbank Prize in Economic Scienc...,"""for having advanced our understanding of wome...",1/1,1034,Individual,Claudia Goldin,1946-00-00,"New York, NY",United States of America,Female,Harvard University,"Cambridge, MA",United States of America,NaN,NaN,NaN

In [3]:
# What is the most commonly awarded gender and birth country?
top_gender = nobel_df['sex'].value_counts().index.to_list()[0]
top_country = nobel_df['birth_country'].value_counts().index.to_list()[0]
print(f'top_gender: {top_gender}, top_country: {top_country}')

top_gender: Male, top_country: United States of America

In [4]:
# What decade had the highest proportion of US-born winners?
nobel_df['decade'] = pd.cut(nobel_df['year'],
                            bins=range(1899,2030,10),
                           labels=[d for d in range(1900, 2030, 10)])
nobel_df_dec_birth = nobel_df.groupby('decade')['birth_country'].value_counts(normalize=True).loc[(slice(None),'United States of America')]
max_decade_usa = nobel_df_dec_birth.idxmax()
max_decade_usa

2000

In [5]:
# What decade and category pair had the highest proportion of female laureates?
max_female = nobel_df.groupby(['decade','category'])['sex'].value_counts(normalize=True).loc[(slice(None),slice(None),'Female')].idxmax()
max_female_dict = {max_female[0]:max_female[1]}
max_female_dict

{2010: 'Peace'}

In [6]:
# Who was the first woman to receive a Nobel Prize, and in what category?
first_woman = nobel_df[nobel_df['sex']=='Female'].sort_values(by='year').head(1)
first_woman_name = first_woman['full_name'].iloc[0]
first_woman_category = first_woman['category'].iloc[0]
print(f'The first woman was {first_woman_name} in the category of {first_woman_category}')

The first woman was Marie Curie, née Sklodowska in the category of Physics

In [7]:
# Which individuals or organizations have won multiple Nobel Prizes throughout the years?
n_nobels = nobel_df['full_name'].value_counts().reset_index().rename({'full_name':'n_nobels','index':'full_name'},axis=1)
repeat_list = n_nobels[n_nobels['n_nobels']>1]['full_name'].to_list()
repeat_list

['Comité international de la Croix Rouge (International Committee of the Red Cross)',
 'Linus Carl Pauling',
 'John Bardeen',
 'Frederick Sanger',
 'Marie Curie, née Sklodowska',
 'Office of the United Nations High Commissioner for Refugees (UNHCR)']