# Exploring NYC public school test result scores

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend.

In [1]:
 import pandas as pd

schools = pd.read_csv("./datasets/schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [2]:
# Which schools have the best math-performance?

math_schools = schools[['school_name','average_math']]
max_possible_score = 800
limit_score = 0.8 * max_possible_score

# I consider best math-performance schools those which accomplish getting at least 80% of the max possible score
best_math_schools = math_schools[math_schools['average_math']>=limit_score].sort_values(by='average_math',ascending=False)
best_math_schools

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [3]:
# Which schools are among the top 10 overall?

schools['total_SAT'] = schools['average_math'] + schools['average_writing'] + schools['average_reading']
top_10_schools = schools[['school_name','total_SAT']].sort_values(by='total_SAT',ascending=False).head(10)
top_10_schools

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [4]:
# Which borough has the largest std_dev?
total_SAT_borough = schools.groupby('borough').agg(num_schools = ('school_name','nunique'),
                                                  average_SAT = ('total_SAT','mean'),
                                                  std_SAT = ('total_SAT','std'))
# Round float columns
for column in total_SAT_borough.columns:
    series = total_SAT_borough[column]
    if series.dtype == 'float':
        total_SAT_borough[column] = series.apply(round,args=(2,))

# The borough with the largest std_dev is Manhattan
max_SAT_std_dev = max(total_SAT_borough['std_SAT'])
largest_std_dev = total_SAT_borough[total_SAT_borough['std_SAT'] == max_SAT_std_dev]
largest_std_dev

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29